<div class="accordion-heading-button btn-group" data-bind="visible: refreshVisible">
  <a href="#" data-bind="click: requestRefresh" title="Refresh sensor data">
    <i class="fa fa-refresh"></i>
  </a>
</div>
